:host {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  position: relative;
}

:host::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e5e5e5;
}

.uk-tab-bottom {
  &::before {
    top: 0;
    bottom: auto;
  }

  > * {
    border-top: 1px solid transparent;
    border-bottom: none;
  }
}

/*
 * Left + Right
 * 1. Reset Gutter
 */

.uk-tab-left,
.uk-tab-right {
  flex-direction: column;

  margin-left: 0;
}

.uk-tab-left > *,
.uk-tab-right > * {
  padding-left: 0;
}

.uk-tab-left::before {
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  border-left: 1px solid #e5e5e5;
  border-bottom: none;
}

.uk-tab-right::before {
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  border-left: 1px solid #e5e5e5;
  border-bottom: none;
}

.uk-tab-left > * {
  justify-content: left;
  border-right: 1px solid transparent;
  border-bottom: none;
}

.uk-tab-right > * {
  justify-content: left;
  border-left: 1px solid transparent;
  border-bottom: none;
}
